<div class="header">
  <!-- Hamburger / Close icon -->
  <span
    class="menu-icon position-fixed top-0 end-0"
    (click)="toggleHeader()"
    [innerHTML]="showHeader ? '&#10005;' : '&#9776;'"
  ></span>

  <ul [class]="showHeader ? 'show-header n-box1' : 'hide-header n-box1'">
    <li [class.active]="isActive('/')">
      <a routerLink="/" class="header-links" (click)="toggleHeader()">Home</a>
    </li>
    <li [class.active]="isActive('/projects')">
      <a routerLink="/projects" class="header-links" (click)="toggleHeader()">Projects</a>
    </li>
    <li [class.active]="isActive('/contact')">
      <a routerLink="/contact" class="header-links" (click)="toggleHeader()">Contact</a>
    </li>
    <li [class.active]="isActive('/courses')">
      <a routerLink="/courses" class="header-links" (click)="toggleHeader()">Skills and Resume</a>
    </li>
  </ul>
</div>
