/* Toggle Button */

.menu-btn {
  position: fixed;
  top: 18px;
  left: 20px;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 8px;

  background: transparent;
  color: orangered;

  font-size: 24px;
  cursor: pointer;

  z-index: 1001;
  transition: 0.3s;
  /* border: 2px solid red; */
}

.menu-btn:hover {
  background: rgba(255,255,255,0.1);
}

/* Overlay */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  z-index: 998;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;

  width: 260px;
  height: 100vh;

  background: #171717;

  display: flex;
  flex-direction: column;

  padding: 70px 15px 15px;

  transition: left .3s ease;

  z-index: 999;
}

.sidebar.open {
  left: 0;
}

/* Logo */

.logo {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 25px;
  padding-left: 10px;
}

/* Links */

.nav-link {
  color: #ececec;
  text-decoration: none;

  padding: 12px;
  border-radius: 8px;

  margin-bottom: 6px;

  transition: .25s;
}

.nav-link:hover {
  background: #2a2a2a;
}

.nav-link.active {
  background: #343541;
  color: white;
}

/* Mobile */

@media (max-width: 768px) {
  .sidebar {
    width: 240px;
    left: -240px;
  }
}